* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Trebuchet MS, Arial, sans-serif;
    font-size: calc(1em + 1.5vh);
}



a:link {
    text-decoration: none;
    color: #ffffff;
}

a:visited {
    text-decoration: none;
    color: #ffffff;
}


.header {
    position: fixed;
    display: flex;
    height: 8vh;
    width: 100vw;
    padding: 0 3%;
    background-color: #212121;
    color: #ffffff;
    font-family: Trebuchet MS;
   
}

.divLogo {
    display: flex;
    align-items: center;
    width: 50%;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 25%;
}

.divVarukorg {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 10%;
}

.divVarukorg #counter {
    margin-right: 10px;
}

*:focus {
    outline: 0 !important;
}

h1#counter {
    font-size: 500%;   
}