* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Trebuchet MS, Arial, sans-serif;
    font-size: calc(1em + 1vw);
}



a:link {
    text-decoration: none;
    color: #ffffff;
}

a:visited {
    text-decoration: none;
    color: #ffffff;
}


.header {
    position: fixed;
    display: flex;
    height: 6vh;
    width: 100vw;
    /* padding: 0 3vw; */
    padding: 0 3%;
    background-color: #212121;
    color: #ffffff;
    font-family: Trebuchet MS;
   
}

.divLogo {
    display: flex;
    /* justify-content: left; */
    align-items: center;
    width: 50%;
    flex-wrap: wrap;
     /* tillägg flex-grow o flex-shrink */
    flex-grow: 1;
    flex-shrink: 1;
    /* font-size: 14%; */
    font-size: 12%;
}

.divVarukorg {
    display: flex;
    align-items: center;
    /* width: 50%; */
    justify-content: flex-end;
    /*tillägg min-width, flex-wrap, flex-grow, flex-shrink */
    flex-wrap: wrap;
     /* tillägg flex-grow o flex-shrink */
    flex-grow: 1;
    flex-shrink: 1;
    /* font-size: 150%; */
    font-size: 6%;
    

/* .divVarukorg #counter { */
    /* margin-right: 10px; */
    /* size: 4vw; */
}
