a:link {
    text-decoration: none;
    color: #ffffff;
}

a:visited {
    text-decoration: none;
    color: #ffffff;
}

.header {
    position: fixed;
    display: flex;
    height: 6vh;
    width: 100vw;
    padding: 0 3vw;
    background-color: #212121;
    color: #ffffff;
    font-family: Trebuchet MS;
   
}

.divLogo {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
}

.divVarukorg {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-end;
    flex-shrink: 1;
    font-size: 150%;
}

.divVarukorg #counter {
    margin-right: 10px;
    size: 4vw;
}
