/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Trebuchet MS, Arial, sans-serif;
    font-size: calc(1em + 1.5vh);
} */

#content {
    padding-top: 10vh;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#varukorgTotal {
    /* font-size: 20px; */
    font-size: 20%;
    height: 4vh;
    margin-top: 10px;
    text-align: center;
}

#buttonKop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: auto;
    padding: 0 2%;
    margin-top: 4vh;
    background-color: #5596F5;
    color: #ffffff;
    /* font-size: 14px; */
    font-size: 10%;
    border-color:  #5596F5;
    border-radius: 8px;
}

.produktVal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 50%;
    /* tillägg flex-grow o flex-shrink */
    flex-grow: 1;
    flex-shrink: 1;
}

.kundvagnH3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 60%;
    /* tillägg flex-grow o flex-shrink */
    flex-grow: 8;
    flex-shrink: 8;
}


#productToByContainer {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    /* font-size: 30px; */
    padding-bottom: 10vh;
}

.flexItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background-color: #F5F5F5;
    margin: 1%;
    /* padding: 8px; */
    padding: 1vh 2vw;
    border-color: #5596F5;
    border-style: solid;
    border-width: 2px;  
    border-radius: 14px; 
}

#mainVarukorg {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%
}


.product-image {
    height: 25vh; 
    width: auto;
    /* tillägg flex-grow o flex-shrink */
    flex-grow: 1;
    flex-shrink: 1;
}

.product-title {
    font-size: 50%;
    /* tillägg flex-grow o flex-shrink */
    flex-grow: 2;
    flex-shrink: 2;
}

.product-price{
    font-size: 30%;
    /* tillägg flex-grow o flex-shrink o margin-top + -bottom */
    flex-grow: 8;
    flex-shrink: 1;
    margin-top: 4%;
    margin-bottom: 10%;
    
}


.buttonDelete {
    display: flex;
    align-items: center;
    justify-content: center;

    /* NYTT height: 25px; */
    
    /* NYTT width: 80px; */
    width: 100%;
    background-color: #E64E4E;
    border-color: #E64E4E;
    color: #ffffff;
    border-radius: 8px;     
    font-size: 1%;
    /* NYTT padding: 1px; */
    padding: 5% 1%;
    /* margin-top: 14px; */
    
    /* tillägg flex-shrink */
    /* NYTT flex-shrink: 1; */
    flex-shrink: 8;
    /* min-width: 40%;
    max-width: 200%; */
    width: 15vh;
}

.checkout {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 6%;
    overflow: auto;
    background-color: #212121;    
    background-color: rgba(0,0,0,0.4); 
}

.checkout-content {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border: 1px solid #f5f5f5;
    width: 80%;
    height: 30%;
}

.checkout-close {
    color: #b8b8b8;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.checkout-close:hover, .checkout-close:focus {
    color: #212121;
    text-decoration: none;
    cursor: pointer;
}

i {
    padding-right: 5px;
}

.product-card {
    width: 100%;
    height: 100%;

    padding: 5% 10%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* font-size: 30px; */
}

p.cart {
    font-size: 30%;
}

h3.cart {
    font-size: 80%;
}