a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.header {
    position: fixed;
    display: flex;
    height: 4vw;
    width: 100vw;
    padding-left: 20px;
    padding-right: 40px;
    background-color: black;
    color: white;
    font-family: Trebuchet MS;
    font-size: 30px;
   
}


.divLogo {
    display: flex;
    justify-content: left;
    text-align: center;
    align-items: center;
    width: 25%;
    
}

.divVarukorg {
    display: flex;
    align-items: center;

    width: 25%;
    justify-content: flex-end;
    font-size: 70%;

}

.divVarukorg #counter {
    margin-right: 10px;
}

.divMitten {
    display: flex;
    width: 50%;
}