a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.header {
    position: fixed;

    display: flex;
    flex-direction: row;
    height: 5vw;
    width: 100vw;
    padding-left: 20px;
    padding-right: 40px;
    background-color: black;
    color: white;
    font-family: Trebuchet MS;
}

.divLogo {
    display: flex;
    align-items: center;
    width: 25%;
    font-size: 24px;
}

.divVarukorg {
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: flex-end;
}

.divVarukorg #counter {
    margin-right: 10px;
}

.divMitten {
    display: flex;
    width: 50%;
}