#varukorgTotal {
    font-family: arial;
    font-size: 20px;
    height: 4vh;
    margin-top: 10px;
    text-align: center;
}

#buttonKop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    width: 20%;
    background-color: #5596F5;
    color: #ffffff;
    font-size: 18px;
    border-color:  #5596F5;
    border-radius: 8px;
}

.produktVal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 50%;
}

.kundvagnH4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-size: 28px;
    padding-top: 6vw;
    padding-bottom: 20px;
   
}


#productToByContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    font-size: 30px;
}

.flexItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background-color: #F5F5F5;
    margin: 1%;
    padding: 8px;
    border-color: #5596F5;
    border-style: solid;
    border-width: 2px 2px 2px 2px;  
    border-radius: 4%; 
}

.divSpace {
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    width: 45%;
}

#mainVarukorg {
    display: flex;
    justify-content: center;
  

    flex-wrap: wrap;
    padding: 0 10vw;
}

.product-image {
    height: 20vh;
    width: auto;
}

.product-title {
    font-family: Arial;
    font-size: 22px;
}

.product-price{
    font-family: Arial;
    font-size: 10px;
    
}


.buttonDelete {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 25px;
    width: 80px;
    background-color: #E64E4E;
    border-color: #E64E4E;
    color: #ffffff;
    border-radius: 10%;
    font-size: 60%;
    padding: 1px;
    margin-top: 14px;
}

.checkout {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #212121;    
    background-color: rgba(0,0,0,0.4); 
}

.checkout-content {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border: 1px solid #f5f5f5;
    width: 80%;
    height: 30%;
}

.checkout-close {
    color: #f5f5f5;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.checkout-close:hover, .checkout-close:focus {
    color: #212121;
    text-decoration: none;
    cursor: pointer;
}